{% extends "base.html" %}

{% block content %}

<section class="header">
  <div>
    <h1>STAY CURIOUS.</h1>
    <div class="lines mx-4">
      <p>Discover stories, thinking, and expertise from writers on any topic.</p>
      <p>Share your thoughts with the world.</p>
      <a href="{{url_for('core.blog')}}"><button>Start Reading</button></a>
    </div>
  </div>
  <img src="https://cdn.pixabay.com/photo/2014/03/24/17/21/newspaper-295480_960_720.png" class="mx-4" alt="">
</section>

<section class="top-posts">
  <h1>Top Posts</h1>
  <div class="posts">
    {% for post in posts.items[:6] %}
    <div class="card my-2 mx-3 post">
        <div class="card-body">
          <h5 class="card-title text-center">{{post.title}}</h5>
          <p class="card-text mx-2">{{post.text[0:100]}}...</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Written By: {{post.user.username}}</li>
            <li class="list-group-item">Published On: {{post.date.strftime('%Y-%m-%d')}}</li>
            <li class="list-group-item"><a href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}"><button class="btn btn-primary">Read More</button></a></li>
          </ul>                
        </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}